{% if mode == 'result' -%}
    <span class="fas fa-paperclip ml-1" title="{% trans count=item[field.key]|length %}1 attachment available{% pluralize %}{{ count }} attachments available{% endtrans %}" aria-hidden="true"></span>
{%- endif %}
