{%- from "kerko/_facets.html.jinja2" import facet %}

{%- if mode == 'field' %}
    {{- facet(
            spec.title,
            spec.missing_label,
            items,
            expand=True,
            checkboxes=False,
            add_link_title=_("Search with the '{}' filter"),
            wrap_class='row mb-3',
            heading_tag='div',
            heading_class='col-md-4 col-lg-3 font-weight-bold break-word text-md-right text-print-left',
            body_class='col-md-8 col-lg-9 break-word',
            list_class_top='list-unstyled mb-0'
        )
    }}
{%- elif mode == 'breadbox' %}
    {{- facet(
            spec.title,
            spec.missing_label,
            items,
            wrap_class='row mb-3',
            heading_tag='div',
            heading_class='col-md-4 col-xl-3 font-weight-bold break-word text-md-right text-print-left',
            body_class='col-md-8 col-xl-9',
            list_class_top='list-unstyled mb-0'
        )
    }}
{%- else %} {# mode == 'search' #}
    {{- facet(
            spec.title,
            spec.missing_label,
            items,
            collapsible=config.KERKO_FACET_COLLAPSING and spec.collapsible,
            collapse_id='facet-' + spec.filter_key,
            collapsed=not spec.key in active_facets
        )
    }}
{%- endif %}
