{% extends config.KERKO_TEMPLATE_LAYOUT %}
{% from "kerko/_badges.html.jinja2" import content_with_badges %}

{%- set show_print_link = config.KERKO_PRINT_CITATIONS_MAX_COUNT == 0 or total_count <= config.KERKO_PRINT_CITATIONS_MAX_COUNT %}
{%- set show_print_link = show_print_link and config.KERKO_PRINT_CITATIONS_LINK %}
{%- set show_download_link = config.KERKO_DOWNLOAD_CITATIONS_MAX_COUNT == 0 or total_count <= config.KERKO_DOWNLOAD_CITATIONS_MAX_COUNT %}
{%- set show_download_link = show_download_link and config.KERKO_DOWNLOAD_CITATIONS_LINK and config.KERKO_COMPOSER.citation_formats %}

{%- block metas %}
    {{- super() }}
    {%- include "kerko/_search-metas.html.jinja2" %}
{%- endblock metas %}

{%- block content_header %}
    <div class="h2 my-2 row">
        <h1 class="h2 col-auto pr-1 mr-auto d-inline">{% if is_searching %}{{ _("Your search") }}{% else %}{{ _("Search") }}{% endif %}</h1>
        {%- if is_searching or facet_results %}
            <div class="col-auto pl-0 ml-auto text-right">
                <div class="d-inline-block d-print-none mb-2">
                    <button class="btn btn-light" data-toggle="modal" data-target="#search-help">
                        <span class="fas fa-question-circle" aria-hidden="true"></span> {{ _("Help") }}
                    </button>
                </div>
                {%- if facet_results %}
                    <div class="d-inline-block d-lg-none d-print-none mb-2">
                        <button id="facets-modal-toggle" class="btn btn-primary" data-target="#facets-modal">
                            <span class="fas fa-compass" aria-hidden="true"></span> {{ _("Explore") }}
                        </button>
                    </div>
                {%- endif %}
                {%- if is_searching %}
                    <div class="d-inline-block d-print-none mb-2">
                        <a class="btn btn-danger" href="{{ url_for('kerko.search') }}">
                            <span class="fas fa-trash-alt" aria-hidden="true"></span> {{ _("Reset search") }}
                        </a>
                    </div>
                {%- endif %}
            </div>
        {%- endif %}
    </div>
    {%- block search_help %}
        {%- include "kerko/_search-help.html.jinja2" %}
    {%- endblock search_help %}
{%- endblock content_header %}

{%- block content_inner %}
    {%- block search_criteria %}
        <div class="card breadbox mb-4">
            <div class="card-body">
                {%- include "kerko/_breadbox.html.jinja2" %}
                {%- include "kerko/_search-form.html.jinja2" %}
            </div>
        </div>
    {%- endblock search_criteria %}
    {%- block search_results %}
        <div class="h2 my-2 row">
            <div class="col-auto mr-auto mb-2">
                <h2 class="d-inline">{{ title }}</h2>
                {%- if search_results %}
                    <span class="badge badge-light">{% trans count=total_count, count_formatted=total_count_formatted|safe %}{{ count_formatted }} resource{% pluralize %}{{ count_formatted }} resources{% endtrans %}</span>
                {%- endif %}
            </div>
            {%- if search_results %}
                <div class="col-auto pl-0 ml-auto mb-2 text-right">
                    <div class="d-inline-block d-print-none">
                        {%- include "kerko/_sorter.html.jinja2" %}
                    </div>
                </div>
            {%- endif %}
        </div>
        {%- if search_results %}
            {%- include "kerko/_pager.html.jinja2" %}
            <ul class="mb-4 list-unstyled">
                {%- for result in search_results %}
                    <li class="search-item break-word">
                        {%- if print_preview -%}
                            {{ content_with_badges(result.bib|safe, result, mode='result') }}
                        {%- else -%}
                            <a href="{{ result.url }}">{{ content_with_badges(result.bib|safe, result, mode='result') }}</a>{{ result.coins|safe }}
                        {%- endif -%}
                        {%- if config.KERKO_RESULTS_ABSTRACT %}
                            <p class="search-abstract">{{ result.data['abstractNote']|striptags|urlize(target='_blank') }}</p>
                        {%- endif %}
                    </li>
                {%- endfor %}
            </ul>
            {%- include "kerko/_pager.html.jinja2" %}
            {%- if show_print_link or show_download_link %}
                <div class="row">
                    <div class="col-auto ml-auto mb-4 text-right">
                        {%- if show_print_link %}
                            <div class="d-none d-md-inline-block d-print-none mb-1">
                                <button id="print-link" class="btn btn-light" type="button" data-url="{{ print_url }}">
                                    <span class="fas fa-print" aria-hidden="true"></span> {% trans count=total_count, count_formatted=total_count_formatted|safe %}Print this citation{% pluralize %}Print {{ count_formatted }} citations{% endtrans %}
                                </button>
                            </div>
                        {%- endif %}
                        {%- if show_download_link %}
                            <div class="d-inline-block d-print-none mb-1">
                                <div class="dropdown">
                                    <button class="btn btn-secondary btn-light dropdown-toggle" type="button" id="download-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="fas fa-download" aria-hidden="true"></span> {% trans count=total_count, count_formatted=total_count_formatted|safe %}Download this citation{% pluralize %}Download {{ count_formatted }} citations{% endtrans %}
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-width-300" aria-labelledby="download-options">
                                        {%- for citation_format in config.KERKO_COMPOSER.get_ordered_specs('citation_formats') %}
                                            <a class="dropdown-item" href="{{ download_urls[citation_format.key] }}" rel="nofollow" title="{% trans download_option=citation_format.label|escape %}Download in {{ download_option }} format{% endtrans %}">
                                                {{- citation_format.label -}}
                                            </a>
                                            <p class="px-4 text-muted">{{ citation_format.help_text }}</p>
                                        {%- endfor %}
                                    </div>
                                </div>
                            </div>
                        {%- endif %}
                    </div>
                </div>
            {%- endif %}
        {%- else %}
            {%- trans %}
                <p>Suggestions:</p>
                <ul>
                    <li>Make sure that all words are spelled correctly.</li>
                    <li>Try different words.</li>
                    <li>Try more general terms.</li>
                </ul>
            {%- endtrans %}
        {%- endif %}
        {% if config.DEBUG %}{% trans time="%.2f"|format(time) %}Processing time: {{time}} seconds{% endtrans %}{% endif %}
    {%- endblock search_results %}
{%- endblock content_inner %}

{%- block sidebar_inner %}
    {%- block facet_results %}
        {%- if facet_results %}
            <div class="d-none d-lg-block d-print-none">
                <h2 class="mt-2 mb-4">{{ _("Explore") }}</h2>
                <div class="facets">
                    {%- for f in config.KERKO_COMPOSER.get_ordered_specs('facets') %}
                        {{ f.render(facet_results[f.key], 'search') }}
                    {%- endfor %}
                </div>
            </div>
            <div id="facets-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="facets-modal-label" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 id="facets-modal-label" class="modal-title">{{ _("Explore") }}</h2>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" title="{{ _('Close Explore panel') }}">
                                <span class="fas fa-times" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="my-3 text-right">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _("Close") }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {%- endif %}
    {%- endblock facet_results %}
{%- endblock sidebar_inner %}

{%- block body_scripts %}
    {{- super() }}
    {%- block kerko_search_js %}
        <script src="{{ url_for('kerko.static', filename='kerko/js/search.js') }}"></script>
    {%- endblock kerko_search_js %}
    {%- block kerko_print_js %}
        {%- if show_print_link %}
            <script src="{{ url_for('kerko.static', filename='kerko/js/print.js') }}"></script>
        {%- endif %}
    {%- endblock kerko_print_js %}
{%- endblock body_scripts %}
