{%- from "kerko/_facets.html.jinja2" import facet %}

{{- facet(
        spec.title,
        spec.missing_label,
        items,
        soft_limit=spec.soft_limit,
        soft_limit_leeway=spec.soft_limit_leeway,
        list_id='f-' + spec.filter_key|string
    )
}}
